/* Produtos - Introdução */

.interna_produtos {
    background: url(../img/bg-produtos.jpg) no-repeat center;
    background-size: cover;
}

/* Produtos - Conteúdo */

.produtos_conteudo {
    padding-top: 60px;
}