/* Sobre - Introdução */

.interna_sobre {
    background: url(../img/bg-sobre.jpg) no-repeat center;
    background-size: cover;
}

.sobre_conteudo {
    padding-top: 60px;
}

.sobre_conteudo .subtitulo {
    text-align: left;
}

.sobre_conteudo .subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px 0 12px 0;
}

.sobre_conteudo p, .sobre_conteudo ul {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', serif;
}

.sobre_conteudo p {
    max-width: 520px;
    margin-top: 20px;
}

.sobre_conteudo p:first-child {
    margin-top: 0;
}

.sobre_conteudo ul {
    line-height: 1.5em;
}

.sobre_conteudo img {
    margin-top: 40px;
}

.qualidade_sobre {
    width: 100%;
    height: 422px;
}